<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <title>Menu - West St. Mini-Mart</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=6.0, viewport-fit=cover" />
        <meta name="referrer" content="origin-when-cross-origin" />

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />

        <link href="/css/styles.css" rel="stylesheet" />
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    </head>
    <body class="ltr bg-gray-900">
        {% include '_partials/_nav.twig' %}

        {% block content %}
        <div class="min-h-screen mt-20 mx-auto prose prose-headings:text-white prose-p:text-white max-w-none px-2">
            <h1 class="text-5xl text-white font-bold mb-12  text-center">{{ entry.title }}</h1>

            <div class="max-w-7xl grid md:grid-cols-2 lg:grid-cols-3 gap-10 mx-auto px-4">

                {% set myEntryQuery = craft.entries().section('menu').limit(10) %}
                {% set entries = myEntryQuery.all() %}

                {% for entry in entries %}
                <div>
                   
                    <div class="mb-4 py-1 px-3 mx-auto not-prose bg-green-500 rounded-lg ">
                        <h2 class=" text-white font-bold text-2xl text-center bg-clip-border">{{ entry.title }}</h2>
                       
                    </div>

                        {% for block in entry.item.all() %}
                        <div class="flex flex-wrap justify-between text-white not-prose px-4">
                            
                            <p>{{ block.title }}</p>
                            <p>{{ block.priceSmall | money }} {% if block.priceLarge | length %}/  {{ block.priceLarge | money }}{% endif %}</p>
                      
                        </div>
                 {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endblock %}
    </body>
</html>
